<div>
  <header>
    <%= render Elementary.StoreWeb.LayoutView, "primary-nav.html", assigns %>
  </header>

  <main role="main" class="container">
    <%= @inner_content %>
  </main>

  <footer>
    <%= render Elementary.StoreWeb.LayoutView, "footer.html", assigns %>
  </footer>
</div>
