<nav class="secondary">
  <ul>
    <a href="#">
      <%= dgettext "layout", "Cart (%{count})", count: cart_count(0) %>
    </a>

    <a href="#">
      <%= dgettext "layout", "Checkout" %>
    </a>
  </ul>
</nav>
