<section>
  <header class="error">
    <h1>Page Not Found</h1>

    <p>
      Try visiting the
      <%= link "store home page", to: Routes.index_path(Endpoint, :index) %> or
      <a
        rel="nofollow noopener noreferrer"
        target="_blank"
        href="https://elementary.io"
      >
        elementary.io
      </a>
      to find what you’re looking for.
    </p>
  </header>
</section>
