<section>
  <header class="error">
    <h1>Temporarily Unavailable</h1>

    <p>
      Our store is unable to load right now, but it should be back soon. Please
      check in again later.
    </p>
  </header>
</section>
