<section>
  <header class="error">
    <h1>We’ll be right back…</h1>

    <p>
      The store is temporarily unavailable, but it should be back shortly. Consider trying again in a few minutes.
    </p>
  </header>
</section>
