.alert {
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  line-height: 2.9em;
  padding: 0.1rem 1.65rem;
  width: 100%;
}

.alert--closable {
  cursor: pointer;

  > svg {
    height: 1rem;
  }
}

.alert--success {
  background-color: var(--lime-500);
}

.alert--info {
  background-color: var(--banana-300);
  color: var(--black-900);
}

.alert--error {
  background-color: var(--strawberry-500);
  color: var(--silver-100);
}

.alert--bubble {
  border-radius: 3px;
  margin: 2rem auto;
  max-width: 70ch;
  padding: 0.1rem 1rem;
}
