@charset "utf-8";

@import "../node_modules/nprogress/nprogress.css";
@import "colors";
@import "layout";
@import "typography";
@import "nav";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

html {
  // To blend with the footer on short pages
  background-color: var(--secondary-bg-color);
}

svg {
  fill: inherit;
}

.error {
  max-width: 22rem;
  margin: 8em auto;
  text-align: center;

  p {
    font-family: var(--ui-font);
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  appearance: none;
  border-color: transparent;
  border-radius: 3px;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-family: var(--ui-font);
  font-size: 16px;
  font-weight: 600;
  margin: 24px;
  outline: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  transition: opacity 200ms ease;

  &.suggested {
    background-color: var(--accent-color);
    color: var(--bg-color);

    &:hover,
    &:focus,
    &:active {
      box-shadow:
        0 2px 3px -1px rgba(73, 55, 147, 0.3),
        0 5px 10px -2px rgba(156, 100, 218, 0.5);
      opacity: 0.67;
    }
  }
}
