:root {
  --ui-font: inter, "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;
  --copy-font: "Noto Serif", "Droid Serif", serif;
  --heading-font: var(--ui-font);
}

html {
  font-family: var(--ui-font);
  font-size: 5.625vw;
  font-weight: 400;
  word-spacing: -0.05em;

  @media (min-width: 320px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }

  @media print {
    font-size: 14px;
  }
}

a {
  color: var(--accent-color);
  opacity: 0.8;
  text-decoration-skip-ink: auto;
  transition: opacity 250ms ease;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 1.2em;
  margin: 2em auto 0.5em;
  max-width: var(--content-width);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 1em;
  opacity: 0.75;
}

h3,
h4,
h5 {
  opacity: 0.8;
}

h6 {
  opacity: 0.67;
}

p {
  line-height: 1.5;
  margin: 1.25em auto;
  max-width: var(--content-width);
}

h1 + p {
  font-size: 1.25rem;
  line-height: 1.33;
}
