.checkout-cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkout-product {
  border-bottom: 1px solid var(--slate-100);
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-areas:
    "image"
    "name"
    "remove"
    "prices";
  padding: 1rem 0;
  text-align: center;
}

.checkout-product > * {
  margin: 0;
}

.checkout-product img {
  grid-area: image;
  margin: 0 auto;
  width: auto;
}

.checkout-product .name {
  font-weight: bold;
  grid-area: name;
}

.checkout-product .remove {
  grid-area: remove;
}

.checkout-product .remove a {
  color: inherit;
  font-size: 0.8em;
}

.checkout-product .price-row {
  align-content: center;
  align-items: center;
  display: flex;
  grid-area: prices;
  justify-content: center;
}

.checkout-product .price-row > *:not(:first-child) {
  margin-left: 0.5ch;
}

.checkout-product .price-row form {
  display: flex;
}

.checkout-product .price-row input {
  background: linear-gradient(to bottom, #fafafa, #fdfdfd);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  font-size: 1em;
  height: 1.8em;
  margin: 0 0.5ch;
  padding: 0.5em;
  text-align: center;
  width: 6ch;
}

.checkout-product .price-row button {
  background-color: var(--blueberry-500);
  border-radius: 3px;
  border: none;
  color: #fff;
  display: block;
  height: 100%;
  margin: 0 0.5ch;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: background-color 50ms ease;
  width: 100%;
}

.checkout-product .price-row button:focus,
.checkout-product .price-row button:hover {
  background-color: var(--blueberry-300);
  box-shadow:
    0 2px 3px -1px rgba(30, 51, 134, 0.3),
    0 5px 10px -2px rgba(89, 159, 239, 0.5);
}

.checkout-product .total-price {
  font-weight: bold;
}

.cart-total {
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

@media (min-width: 600px) {
  .checkout-cart {
    max-width: 1160px;
    width: calc(100vw - 4rem);
  }

  .checkout-product {
    align-items: center;
    align-content: center;
    grid-template-areas:
      "image space1 space1"
      "image name name"
      "image remove prices"
      "image space2 space2";
    grid-template-columns: auto 1fr auto;
    justify-content: flex-start;
    text-align: inherit;
  }

  .checkout-product .price-row {
    justify-content: flex-start;
  }

  .cart-total {
    text-align: right;
  }
}

form.address-checkout,
form.shipping-checkout {
  margin: 1rem auto 2rem;
  max-width: 800px;
}

form.address-checkout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    align-self: flex-end;
    margin: 0.25rem 0.5rem;
    flex-grow: 1;
    min-width: calc(50% - 1rem);

    span {
      display: flex;
      font-size: 0.8rem;
      padding: 0.25em 0;

      em {
        flex-grow: 1;
        font-style: normal;
        opacity: 0.75;
        text-align: right;
      }
    }

    &[for="address_name"]{
      width: 100%;
    }

  }

  input {
    background: linear-gradient(to bottom, #fafafa, #fdfdfd);
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    height: 1.8em;
    padding: 0.5em;
    width: 100%;
  }

  select {
    background: linear-gradient(to bottom, #fafafa, #fdfdfd);
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    padding: 0.3em;
    width: 100%;
  }
}

form.address-checkout button,
form.shipping-checkout button {
  background-color: var(--blueberry-500);
  border-radius: 3px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 1.5rem 0.5rem;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: background-color 50ms ease;
  width: 100%;
}

form.address-checkout button:disabled,
form.shipping-checkout button:disabled {
  background-color: var(--blueberry-100);
}

.shipping-checkout label {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "check name"
    "check estimate"
    "check price";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  padding: 1rem 0;
  text-align: center;
}

.shipping-checkout input {
  grid-area: check;
}

.shipping-checkout .name {
  grid-area: name;
  font-weight: bold;
  text-align: left;
}

.shipping-checkout .estimate {
  grid-area: estimate;
  text-align: left;
}

.shipping-checkout .price {
  grid-area: price;
  text-align: left;
}

.shipping-total {
  border-top: 1px solid var(--slate-100);
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 0;
}

@media (min-width: 600px) {
  .shipping-checkout label {
    align-items: center;
    grid-template-areas:
      "check name price"
      "check estimate price";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
  }

  .shipping-checkout .price,
  .shipping-total {
    text-align: right;
  }
}

@media (prefers-color-scheme: dark) {
  .checkout-product,
  .shipping-total {
    border-color: var(--slate-500);
  }

  .checkout-product .price-row input,
  form.address-checkout input,
  form.address-checkout select {
    background: linear-gradient(to bottom, #252525, #272727);
    color: var(--fg-color);
  }

  form.address-checkout select option {
    background-color: #252525;
    color: var(--fg-color);
  }
}
