.starbook {
  .full-bleed {
    position: relative;

    img {
      left: 50%;
      max-width: calc(100vw - 4rem);
      overflow: hidden;
      position: relative;
      transform: translateX(-50%);
      width: calc(100vw - 4rem);
    }
  }

  // background protection on dark style
  .glow {
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, 0.1));
  }

  img {
    max-width: 100%;
  }

  .buttons {
    margin: 4em auto;
    text-align: center;

    .button {
      margin: 0.5em;
    }
  }

  .button {
    border: 1px solid var(--accent-color);
    border-radius: 0.25em;
    font-family: var(--ui-font);
    padding: 0.5em 1em;
    text-decoration: none;

    &.suggested {
      background-color: var(--accent-color);
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.05),
        0 3px 3px rgba(0, 0, 0, 0.22);
      color: var(--bg-color);
    }

    &.flat {
      border: none;
    }

    small {
      display: inline-block;
      margin-left: 0.25em;
      opacity: 0.8;
    }
  }

  .hero {
    margin-top: 2em;
  }

  h1 {
    margin-top: 0.5em;
  }

  h1 + p {
    margin-top: -0.25em;
  }

  h1 + p + div {
    max-width: var(--content-width);
    margin: 0 auto;
  }

  dl {
    dt {
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin: 0 0 1em;
    }
  }

  #stealth {
    h2 + p {
      font-size: 1.25em;
      line-height: 1.125em;
    }

    dl {
      columns: 2;
      column-gap: 3em;

      div {
        break-inside: avoid-column;
        display: inline-block;
      }

      dd {
        margin-bottom: 1.25em;
      }
    }
  }

  #display {
    font-size: 0;
    margin-top: 8rem;

    img {
      display: inline-block;
      margin-right: 15%;
      max-width: 20%;
      vertical-align: middle;
    }

    div {
      display: inline-block;
      font-size: 1rem;
      max-width: 65%;
      vertical-align: middle;
    }

    dt {
      margin-top: 3em;
    }
  }

  #trackpad {
    font-size: 0;
    margin-top: 4rem;

    div {
      display: inline-block;
      font-size: 1rem;
      max-width: 65%;
      vertical-align: middle;
    }

    figure {
      background-color: black;
      background-image: linear-gradient(45deg, black 50%, #111 50%);
      border: 1px solid black;
      border-radius: 0.33rem;
      box-shadow: 0 0 1px #666 inset;
      color: white;
      display: inline-block;
      font-size: 3.25vw;
      font-weight: 900;
      height: 100%;
      margin-left: 5%;
      margin-right: 0;
      padding-bottom: 7%;
      padding-top: 7%;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 30%;

      @media (min-width: 1200px) {
        font-size: 2rem;
      }

      &::before {
        content: "↙";
        position: absolute;
        bottom: 0.25em;
        left: 0.25em;
      }

      &::after {
        content: "↗";
        position: absolute;
        top: 0.25em;
        right: 0.25em;
      }
    }
  }

  #keyboard {
    margin-top: 8rem;
    position: relative;

    div p {
      margin-top: 0;

    }

    @media (min-width: 600px) {
      img {
        left: 0;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
      }

      div {
        height: 50%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 12rem;
        margin-left: auto;
        max-width: var(--content-width);
        padding-top: 3rem;
        width: 50%;
      }
    }
  }

  #privacy {
    margin-top: 8rem;

    @media (min-width: 600px) {
      margin-top: 16rem;
    }

    img {
      display: block;
      margin: 0 auto;
      width: var(--content-width);
    }

    hr {
      background: linear-gradient(to right, var(--bg-color), var(--fg-color) 5rem, var(--fg-color) calc(100% - 5rem), var(--bg-color));
      border: none;
      height: 1px;
      margin: 0;
      opacity: 0.67;
    }

    @media (min-width: 600px) {
      font-size: 0;

      div {
        display: inline-block;
        font-size: 1rem;
        padding: 0 2rem;
        vertical-align: top;
        width: 50%;
      }
    }
  }

  #connectivity {
    margin-top: 8rem;

    img {
      display: block;
      object-fit: contain;
      max-height: 75vh;
    }

    ul {
      margin: 1.5rem auto 0;
      max-width: var(--content-width);
      padding-left: 1.25em;

      @media (min-width: 600px) {
        columns: 2;
        column-gap: 4em;
      }
    }

    li {
      margin: 0 0 1em;
      break-inside: avoid-column;
    }
  }

  #battery {
    margin-top: 8rem;

    img {
      display: block;
      margin: auto;
      width: 500px;
      max-width: 90%;
    }

    @media (min-width: 600px) {
      font-size: 0; with 

      div {
        display: inline-block;
        font-size: 1rem;
        padding: 0 2rem;
        vertical-align: top;
        width: 50%;
      }
    }
  }

  #specs {
    margin-top: 8rem;

    table {
      margin: 0 auto;
      max-width: var(--content-width);

      th,
      td {
        padding: 0.25em;
        text-align: left;

        &:first-child {
          text-align: right;
        }
      }

      th {
        padding-top: 1.5em;
      }

      td:first-child {
        font-size: 0.85em;
        opacity: 0.8;
      }
    }
  }

  #elementary {
    margin-top: 8rem;

    img {
      display: block;
      margin: 0 auto;
      width: var(--content-width);
    }
  }
}

.disclaimer {
  font-size: 0.75rem;
  margin-top: 8rem;
  opacity: 0.67;
}
