<h2><%= dgettext "checkout", "Cart" %></h2>

<ul class="checkout-cart">
  <%= for {variant, quantity} <- fetch_cart_info(@cart) do %>
    <li class="checkout-product">
      <%= render Elementary.StoreWeb.CheckoutView, "cart_item.html", variant: variant, quantity: quantity %>
    </li>
  <% end %>
</ul>

<div class="cart-total">
  <%= dgettext "checkout", "Sub-Total:" %> $<%= assigns |> cart_subtotal() |> format_price() %>
</div>
