<h2><%= dgettext "checkout", "Cart" %></h2>

<ul class="checkout-cart">
  <%= for {variant_id, quantity} <- @cart do %>
    <li class="checkout-product">
      <%= live_component @socket, Checkout.CartItemComponent, variant_id: variant_id, quantity: quantity %>
    </li>
  <% end %>
</ul>

<div class="cart-total">
  Sub-Total: $<%= @cart |> fetch_cart_info() |> cart_total() |> format_price() %>
</div>
